@import '@styles/base';

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.main {
  margin-top: 70px;
  position: relative;
  background: $color-alabaster;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 70px);
 
  .container {
    margin-top: 1rem;
    width: 90%;

    h1 {
      font-size: 160%;
      color: $color-marine-blue;
    }

    form {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
  
      div.input {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
  
        div.label {
          font-size: 18px;
          font-weight: 500;
          display: flex;
          color: $color-marine-blue;
          justify-content: space-between;
        }
    
        input {
          width: 100%;
          padding: 0.5rem;
          border-radius: 5px;
          border: 1px solid #A6A6A6; 
          color: #000;
          background: #fff; 
          font-size: 16px;
          font-weight: 500; 
        }

        textarea {
          resize: none;
          width: 100%;
          padding: 0.5rem;
          border-radius: 5px;
          border: 1px solid #A6A6A6; 
          color: #000;
          background: #fff; 
          font-size: 16px;
          font-weight: 500; 
        }
      }

      p.error {
        margin: 0;
        color: $color-strawberry-red;
      }

      .btn {
        align-self: flex-end;
        margin-top: 1rem;
        width: fit-content;
        color: $color-white;
        background-color: $color-marine-blue;
      }

      .btn:hover {
        background-color: $color-purplish-blue;
      }
    }
  }
}